.component-view {
  margin-top: 10px;
  position: relative;
}

.input-item-view {
  padding: 15px 20px;
  background: #fff;
}

.item-input-many {
  width: 100%;

  .input-textarea-box {
    width: 100%;
    height: 100%;
    padding-top: 5px;
    color: #6f7577;
    text-align: left;
    border: none;
    resize: none;
    font-size: 16px;
    line-height: 18px;

    &::placeholder {
      color: #999;
      font-size: 14px;
    }

    &:focus {
      border: none;
      outline: none;
    }
  }
}

.required-icon {
  color: #f83434;
  top: 15px;
  left: 8px;
  font-size: 18px;
  position: absolute;
}

.item-label {
  font-size: 16px;
  flex-shrink: 0;
  max-width: 200px;
}

.item-input {
  width: 60%;
  height: 28px;
  line-height: 28px;

  .input-box {
    width: 100%;
    height: 100%;
    color: #333;
    text-align: right;
    font-size: 14px;

    &::placeholder {
      color: #b9b9b9;
    }
  }
  .number-input {
    font-size: 16px !important;
  }
}

.item-view__right {
  text-align: right;
  display: flex;
  align-items: center;

  .item-view-tips {
    color: #999;
  }

  .icon-arrow {
    margin-left: 5px;
    color: #999;
    font-size: 16px;
  }
}

.selected-info {
  display: flex;
  align-items: center;

  .close-icon {
    color: #999;
    margin-left: 8px;
  }
}

.images-list {
  padding-top: 15px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  .images-item {
    width: 50px;
    height: 50px;
    background: #f6f6f6;
    border-radius: 2px;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.files-list {
  .file-item {
    width: 100%;
    flex: 1;
    margin-bottom: 5px;
    position: relative;

    .file-name {
      width: 100%;
      font-size: 14px;
      line-height: 18px;
      word-wrap: break-word;
    }

    .file-size {
      font-size: 12px;
      color: #898989;
    }

    .preview {
      width: 50px;
      height: 26px;
      line-height: 26px;
      text-align: center;
      color: #898989;
      border-radius: 20px;
      border: 1px solid #e9e9e9;
      display: inline-block;
      flex-shrink: 0;
    }

    .file-info {
      width: 100%;
      flex: 1;
      overflow: hidden;
      flex-wrap: wrap;
      padding-right: 15px;
      display: flex;
      justify-content: flex-start;
    }

    .file-remove {
      top: 15px;
      right: 0;
      position: absolute;
      flex-shrink: 0;
    }
  }

  .upload-type__icon {
    width: 50px;
    height: 50px;
    border-radius: 2px;
    position: relative;
    margin-right: 10px;
    border: 1px solid #e9e9e9;
    flex-shrink: 0;

    .icon {
      color: rgba(255, 161, 20, .5);
      font-size: 38px;
    }
  }
}

.remove-img-icon {
  top: -5px;
  right: -5px;
  color: #666;
  width: 13px;
  height: 13px;
  line-height: 14px;
  font-size: 16px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
}

.close-icon {
  color: #999;
  font-size: 14px;
}

.add-box {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #f6f6f6;
  color: #d5d5d5;
  border-radius: 2px;
  text-align: center;
  position: relative;

  .add-icon {
    font-size: 28px;
  }
}

.upload-box {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
}

.desc-box {
  margin-top: 10px;

  .txt {
    font-size: 12px;
    color: #999;
    text-align: right;
  }
}

.sign-view {
  height: 65px;
  width: 100%;
  text-align: center;
  line-height: 65px;
  color: #bfbfbf;
  margin-top: 5px;
  position: relative;
  background: #fafcfb;
  font-size: 16px;
  border: 1px dashed #d5d5d5;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .sign-bg-watermark {
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 14px;
    top: 0;
    left: 0;
    position: absolute;

    span {
      opacity: 0.18;
      color: #cccccca1;
      white-space: nowrap;
      display: inline-block;
      padding: 0 40px 0 20px;
      transform: rotate(-30deg);
    }
  }

  .icon {
    font-size: 18px;
  }
}

.canvas-img {
  width: 100%;
  display: inline-block;
  position: relative;
  margin-bottom: 5px;
  margin-top: 10px;
  border-radius: 2px;
  border: 1px dashed #d5d5d5;
}

.view-item-icon {
  color: #409eff;

  i {
    font-size: 18px;
  }
}

.ml-10 {
  margin-left: 10px;
}

.contact-list {
  line-height: 24px;

  .name {
    color: #666;
  }
}

.approval-list {
  width: 100%;
  padding: 10px 0 5px;

  &__subitem {
    width: 100%;
    padding: 8px 10px;
    background: #f6f6f6;
    border-radius: 4px;
    margin-bottom: 5px;
    font-size: 14px;

    .badge-icon {
      color: #999;
      font-size: 16px;
    }

    .icon {
      color: #999;
      font-size: 12px;
      padding: 8px;
    }

    .form-name {
      margin-left: 10px;
      line-height: 18px;
      display: inline-block;
    }


    .status {
      opacity: 0.8;
      display: inline-block;
      color: #ffa114;
      margin-right: 10px;
      font-size: 12px;
    }

    .pass-status {
      color: #67C23A;
    }

    .refuse-status {
      color: #F56C6C;
    }

    .subitem-right {
      flex-shrink: 0;
    }
  }
}

.location-info {
  font-size: 14px;
  color: #888;
  margin-top: 5px;
}

.area-item {
  padding: 10px 0px 10px 5px;
  border-bottom: 1px solid #eee;
  margin-left: 12px;
}

.area-address {
  padding: 15px 0px 15px 5px;
  border-bottom: 1px solid #eee;
}

.star-icon-box {
  width: 100%;
  display: flex;
  text-align: center;
  color: #999;

  .icon-item {
    flex: 1;
    padding: 5px 0 3px;

    i {
      color: #d9d9d9;
      font-size: 28px;
    }
  }

  .score-range i {
    color: #ffa114 !important;
  }
}

.remove-score {
  margin-left: 15px;
  font-size: 10px;
  color: #999;
}

.required-tips {
  color: #999;
  font-size: 14px;
  margin-top: 5px;
}